<h1>Add Points</h1>

<%= render 'form' %>

<% if current_student %>
	<%= link_to 'View Player', current_student, class: 'btn' %>
<% else %>
	<%= link_to 'View Player', student_path(params[:student_id]), class: 'btn' %>
<% end %>